// POPCORN-THEME: Kittens Colors Theme by @GHOSTBEAR

//Fonts
    $Font = 'Open Sans'
    $MainFont = 'Open Sans Semibold'
    $MainFontBold = 'Open Sans Bold'
    $AlternateFont = sans-serif    
    $ButtonFont = 'Open Sans Semibold'

//Main app
    $BgColor1 = #eeffbe 
    $BgColor2 = #eeffbe

    $Text1 = #0b0b0b
    $Text2 = #373737
    $Text3 = #515151
    $Text4 = #6b6b6b
    $TextError = #3d3d3d

    $CloseButton = #e01818
    $CloseButtonHover = darken($CloseButton,5)

    $SpinnerColor1 = rgba(255, 255, 255, 0.25)
    $SpinnerColor2 = #F35E03

    $ScrollBarBg = #e5f8ae
    $ScrollBarThumb = #b1cb50
    $ScrollBarThumbHover = #9ab247

//Top Bar
    $TitleBarBg = #50CFD8
    $TitleBarText = #fff
    $FullScreenButton = #fff
    $FullScreenButtonHover = #F35E03

    $FilterBarBg = #50CFD8
    $FilterBarText = #fff
    $FilterBarTextHover = #F35E03
    $FilterBarActive = #F35E03

    $SearchBoxBg = darken($TitleBarBg,3)

    $DropDownBg = rgba(80, 207, 216, 0.95)
    $DropDownBgHover = rgba(243, 94, 3, 0.4)
    $DropDownTextHover = #fff
    $DropDownText = #fff
    $DropDownOpacity = 0.95

    $FilterBarIcon = #fff
    $FilterBarIconHover = #F35E03
    $FilterBarIcon-PosterWidth = #F35E03

    $TopBarShadow = 0px 6px 8px -4px rgba(0, 0, 0, 0);

//$ButtonBg    
    $ButtonBg = #F4A460
    $ButtonBgHover = #efa974
    $ButtonBgActive = #F4A460

    $ButtonBgDisabled = #A9DA02
    
    $ButtonBgOk = #27AE60
    $ButtonBgWarning = #F15153

    $ButtonText = #fff
    $ButtonTextHover = #fff

    $ButtonRadius = 3px

//Checkbox
    $CheckboxBg = #545454
    $CheckboxCheck = #4bfff4

//Posters
    $PosterRadius = 0px
    $PosterHoverBorder = #058795
    $PosterHoverOverlay = rgba(23, 24, 27, 0.6)
    $PosterShadow = 0px 0px 4px

//TV Series
    $ShowBgColor1 = #eeffbe
    $ShowBgColor2 = #eeffbe

    $EpisodeDetailsBg = #eeffbe

    $ShowText1 = #7b9d00
    $ShowText2 = #7b9d00

    $SaisonListText = #7b9d00
    $EpisodeListText = #7b9d00

    $EpisodeSelectorBg = #F35E03
	$EpisodeSelectorHover = #d4f26a
    $EpisodeSelectorText = #fff

	$ShowWatchedIcon_false = rgba(#000,0.5)
	$ShowWatchedIcon_hover = rgba(#000,0.8)
	$ShowWatchedIcon_true = #F35E03
    
    $QualitySelector = rgba(43, 110, 210, 0.84)

// Notifications
    $NotificationText = #fff
    $NotificationInfo = #3498DB
    $NotificationSuccess = #27AE60
    $NotificationWarning = #dbb756
    $NotificationOrange = #f07f53
    $NotificationError = #f15153
    $NotificationBorderColor = #000

    $NotificationBtn = #000
    $NotificationBtnText = #fff

    $NotifAlertBg = #000
    $NotifAlertText = #fff

//File selector
	$FileSelectorText = #0b0b0b
	$FileSelectorBg = rgba(0, 0, 0, 0.07)
	$FileSelectorShadow = rgba(0, 0, 0, 0.5)

//Settings
    $SettingsCategoriesText = $Text1 
    $SettingsSeparator = rgba(191, 191, 189, 0.85)

    $InputBoxBg = #F4A460 
    $InputBoxText = #fff

    $SettingsText1 = $Text1
    $SettingsText2 = $Text1
    
    $SettingsButtonText = #fff
    $SettingsButtonTextHover = #fff

//Misc
    $PngLogo = brightness(1.00)

    $FavoriteColor = #e01818
    $PosterFavHover = #e01818
	$PosterFavSelected = #F4A460
	$PosterWatchedHover = #efa974

//Player 
	$PlayerColor = #50CFD8

// POPCORN-THEME: Kittens Colors Theme - END

@import 'views/app' 