// POPCORN-THEME: Kittens Zayt theme by @GHOSTBEAR

//Fonts
    $Font = 'Open Sans'
    $MainFont = 'Open Sans Semibold'
    $MainFontBold = 'Open Sans Bold'
    $AlternateFont = sans-serif
    $ButtonFont = 'Open Sans Semibold'

//Main app
    $BgColor1 = #E5E5E5 
    $BgColor2 = #CECECE 

    $Text1 = #E59400 
    $Text2 = #373737 
    $Text3 = #515151 
    $Text4 = #6b6b6b 
    $TextError = #3d3d3d 
    
    $CloseButton = #f40707 
    $CloseButtonHover = darken($CloseButton,5)

    $SpinnerColor1 = rgba(255, 255, 255, 0.25)
    $SpinnerColor2 = #e59400
    
    $ScrollBarBg = #CECECE
    $ScrollBarThumb =  #ef9e0b
    $ScrollBarThumbHover = darken($ScrollBarThumb,2)

//Top Bar
    $TitleBarBg = #E59400
    $TitleBarText = #FFF
    $FullScreenButton = #FFF
    $FullScreenButtonHover = #E5E5E5

    $FilterBarBg = #E59400
    $FilterBarText = #FFF
    $FilterBarTextHover = #E5E5E5
    $FilterBarActive = #E5E5E5
    
    $SearchBoxBg = darken($TitleBarBg,3)

    $DropDownBg = #E59400
    $DropDownBgHover = rgba(0, 0, 0, 0.1)
    $DropDownTextHover = #fff
    $DropDownText = #fff
    $DropDownOpacity = 0.95
    
    $FilterBarIcon = #fff
    $FilterBarIconHover = #E5E5E5
	$FilterBarIcon-PosterWidth = #fff

    $TopBarShadow = 0px 6px 8px -4px rgba(0, 0, 0, 0);
    
//Buttons
    $ButtonBg = #E59400
    $ButtonBgHover = darken($ButtonBg,2)
    $ButtonBgActive = darken($ButtonBg,3)
    
    $ButtonBgDisabled = #199f13
    
    $ButtonBgOk = #27AE60
    $ButtonBgWarning = #F15153
    
    $ButtonText = #fff
    $ButtonTextHover = #fff

    $ButtonRadius = 3px

//Checkbox
    $CheckboxBg = #545454
    $CheckboxCheck = #4bfff4
    
//Posters
    $PosterRadius = 4px
    $PosterHoverBorder = #E59400
    $PosterHoverOverlay = rgba(23, 24, 27, 0.6)
    $PosterShadow = 0px 0px 4px
    
//TV Series
    $ShowBgColor1 = $BgColor1
    $ShowBgColor2 = $BgColor1

    $EpisodeDetailsBg = $BgColor1

    $ShowText1 = $Text2
    $ShowText2 = $Text2

    $SaisonListText = $Text2
    $EpisodeListText = $Text2

    $EpisodeSelectorBg = #E59400
	$EpisodeSelectorHover = darken($ShowBgColor1,5%)
    $EpisodeSelectorText = $ButtonText

	$ShowWatchedIcon_false = rgba(#000,0.3)
	$ShowWatchedIcon_hover = rgba(#000,0.7)
	$ShowWatchedIcon_true = #E59400
    
    $QualitySelector = rgba(43, 110, 210, 0.84)

// Notifications
    $NotificationText = #fff
    $NotificationInfo = #3498DB
    $NotificationSuccess = #27AE60
    $NotificationWarning = #dbb756
    $NotificationOrange = #f07f53
    $NotificationError = #f15153
    $NotificationBorderColor = #000

    $NotificationBtn = #000
    $NotificationBtnText = #fff

    $NotifAlertBg = #000
    $NotifAlertText = #fff

//File selector
	$FileSelectorText = #fff
	$FileSelectorBg = rgba(0,0,0, 0.07)
	$FileSelectorShadow = rgba(0, 0, 0, 0.5)

//Settings
    $SettingsCategoriesText = $Text2
    $SettingsSeparator = $BgColor2

    $InputBoxBg = #E59400
    $InputBoxText = #fff
    
    $SettingsText1 = $Text2
    $SettingsText2 = $Text2

    $SettingsButtonText = $ButtonText
    $SettingsButtonTextHover = $ButtonText

//Misc
    $FavoriteColor = #e51010
    $PosterFavHover = #e51010
	$PosterFavSelected = #ff6f8a
	$PosterWatchedHover = #ff617e
    
    $PngLogo = brightness(1.00)
    
//Player 
	$PlayerColor = #E59400


// POPCORN-THEME: Kittens Zayt theme by @GHOSTBEAR

@import 'views/app'