// POPCORN-THEME: Kittens Red Theme by @GHOSTBEAR

//Fonts
    $Font = 'Open Sans'
    $MainFont = 'Open Sans Semibold'
    $MainFontBold = 'Open Sans Bold'
    $AlternateFont = sans-serif    
    $ButtonFont = 'Open Sans Semibold'

//Main app
    $BgColor1 = #fff2f2 
    $BgColor2 = #fff2f2

    $Text1 = #0b0b0b
    $Text2 = #373737
    $Text3 = #515151
    $Text4 = #6b6b6b
    $TextError = #3d3d3d

    $CloseButton = #A90909
    $CloseButtonHover = darken($CloseButton,5)

    $SpinnerColor1 = rgba(255, 255, 255, 0.25)
    $SpinnerColor2 = #8b131a

    $ScrollBarBg = #fee
    $ScrollBarThumb = #d1999a
    $ScrollBarThumbHover = #bd7172

//Top Bar
    $TitleBarBg = #8B131A
    $TitleBarText = #fff
    $FullScreenButton = #fff
    $FullScreenButtonHover = #F6ACB3

    $FilterBarBg = #8B131A
    $FilterBarText = #fff
    $FilterBarTextHover = #F6ACB3
    $FilterBarActive = #F6ACB3
    
    $SearchBoxBg = darken($TitleBarBg,3)

    $DropDownBg = #8B131A
    $DropDownBgHover = #A90909
    $DropDownTextHover = #fff
    $DropDownText = #fff
    $DropDownOpacity = 0.95

    $FilterBarIcon = #fff
    $FilterBarIconHover = #F6ACB3

    $TopBarShadow = 0px 6px 8px -4px rgba(0, 0, 0, 0);

//$ButtonBg    
    $ButtonBg = #A90909
    $ButtonBgHover = #F6ACB3
    $ButtonBgActive = #F6ACB3

    $ButtonBgDisabled = #199f13
    
    $ButtonBgOk = #27AE60
    $ButtonBgWarning = #F15153

    $ButtonText = #fff2f2
    $ButtonTextHover = #FF4B44

    $ButtonRadius = 3px

//Checkbox
    $CheckboxBg = #545454
    $CheckboxCheck = #4bfff4

//Posters
    $PosterRadius = 0px
    $PosterHoverBorder = #994243
    $PosterHoverOverlay = rgba(23, 24, 27, 0.6)
    $PosterShadow = 0px 0px 2px

//TV Series
    $ShowBgColor1 = #fff2f2
    $ShowBgColor2 = #fff2f2

    $EpisodeDetailsBg = #fff2f2

    $ShowText1 = #0b0b0b
    $ShowText2 = #0b0b0b

    $SaisonListText = #0b0b0b
    $EpisodeListText = #0b0b0b

    $EpisodeSelectorBg = #8B131A
	$EpisodeSelectorHover = #ffa8a8
    $EpisodeSelectorText = #fff2f2

	$ShowWatchedIcon_false = rgba(#000,0.5)
	$ShowWatchedIcon_hover = rgba(#000,0.8)
	$ShowWatchedIcon_true = #8B131A
    
    $QualitySelector = rgba(43, 110, 210, 0.84)

// Notifications
    $NotificationText = #fff
    $NotificationInfo = #3498DB
    $NotificationSuccess = #27AE60
    $NotificationWarning = #dbb756
    $NotificationOrange = #f07f53
    $NotificationError = #f15153
    $NotificationBorderColor = #000

    $NotificationBtn = #000
    $NotificationBtnText = #fff

    $NotifAlertBg = #000
    $NotifAlertText = #fff

//File selector
	$FileSelectorText = #fff
	$FileSelectorBg = rgba(255, 255, 255, 0.07)
	$FileSelectorShadow = rgba(0, 0, 0, 0.5)

//Settings
    $SettingsCategoriesText = #A90909
    $SettingsSeparator = #BFBFBD

    $InputBoxBg = #A90909
    $InputBoxText = #fff2f2

    $SettingsText1 = #0b0b0b
    $SettingsText2 = #0b0b0b
    
    $SettingsButtonText = #fff2f2
    $SettingsButtonTextHover = #fff2f2

//Misc
    $PngLogo = brightness(1.00)

    $FavoriteColor = #c71415
    $PosterFavHover = #c71415
	$PosterFavSelected = #F6ACB3
	$PosterWatchedHover = #F6ACB3

//Player 
	$PlayerColor = #8B131A

// POPCORN-THEME: Kittens Red Theme - END

@import 'views/app' 