// POPCORN-THEME: Kittens Ocean theme by @GHOSTBEAR @Edys

//Fonts
    $Font = 'Open Sans'
    $MainFont = 'Open Sans Semibold'
    $MainFontBold = 'Open Sans Bold'
    $AlternateFont = sans-serif
    $ButtonFont = 'Open Sans Semibold'

//Main app
    $BgColor1 = #2C4261
    $BgColor2 = #253a57

    $Text1 = #FD7F27
    $Text2 = #535353
    $Text3 = #6f6f6f
    $Text4 = #848484
    $TextError = #FD7F27
    
    $CloseButton = #e01818
    $CloseButtonHover = darken($CloseButton,5)

    $SpinnerColor1 = rgba(255, 255, 255, 0.25)
    $SpinnerColor2 = #338280
    
    $ScrollBarBg = #253a57
    $ScrollBarThumb =  #398d8a
    $ScrollBarThumbHover = #2c6d6b

//Top Bar
    $TitleBarBg = #338280
    $TitleBarText = #fff
    $FullScreenButton = #fff
    $FullScreenButtonHover = #FD7F27

    $FilterBarBg = #338280
    $FilterBarText = #fff
    $FilterBarTextHover = #FD7F27
    $FilterBarActive = #FD7F27 
    
    $SearchBoxBg = darken($TitleBarBg,3)

    $DropDownBg = #338280
    $DropDownBgHover = rgba(0, 0, 0, 0.2)
    $DropDownTextHover = #fff
    $DropDownText = #fff
    $DropDownOpacity = 0.95
    
    $FilterBarIcon = #fff
    $FilterBarIconHover = #FD7F27
	$FilterBarIcon-PosterWidth = #FD7F27

    $TopBarShadow = 0px 6px 8px -4px rgba(0, 0, 0, 0);
    
//Buttons
    $ButtonBg = #FD7F27
    $ButtonBgHover = #ff7412
    $ButtonBgActive = #fff
    
    $ButtonBgDisabled = #199f13
    
    $ButtonBgOk = #27AE60
    $ButtonBgWarning = #F15153
    
    $ButtonText = #fff
    $ButtonTextHover = #fff

    $ButtonRadius = 3px

//Checkbox
    $CheckboxBg = #545454
    $CheckboxCheck = #4bfff4
    
//Posters
    $PosterRadius = 4px
    $PosterHoverBorder = #338280
    $PosterHoverOverlay = rgba(23, 24, 27, 0.6)
    $PosterShadow = 0px 0px 4px
    
//TV Series
    $ShowBgColor1 = $BgColor1
    $ShowBgColor2 = $BgColor1

    $EpisodeDetailsBg = $BgColor2

    $ShowText1 = #E5E5E5
    $ShowText2 = #E5E5E5

    $SaisonListText = #E5E5E5
    $EpisodeListText = #E5E5E5

    $EpisodeSelectorBg = #FD7F27
	$EpisodeSelectorHover = darken($ShowBgColor2,15%)
    $EpisodeSelectorText = $ButtonText

	$ShowWatchedIcon_false = rgba(#fff,0.3)
	$ShowWatchedIcon_hover = rgba(#fff,0.7)
	$ShowWatchedIcon_true = #FD7F27
    
    $QualitySelector = rgba(43, 110, 210, 0.84)

// Notifications
    $NotificationText = #fff
    $NotificationInfo = #3498DB
    $NotificationSuccess = #27AE60
    $NotificationWarning = #dbb756
    $NotificationOrange = #f07f53
    $NotificationError = #f15153
    $NotificationBorderColor = #000

    $NotificationBtn = #000
    $NotificationBtnText = #fff

    $NotifAlertBg = #000
    $NotifAlertText = #fff

//File selector
	$FileSelectorText = #fff
	$FileSelectorBg = rgba(0,0,0, 0.07)
	$FileSelectorShadow = rgba(0, 0, 0, 0.5)

//Settings
    $SettingsCategoriesText = #E5E5E5
    $SettingsSeparator = $BgColor2

    $InputBoxBg = #FD7F27
    $InputBoxText = #fff
    
    $SettingsText1 = #E5E5E5
    $SettingsText2 = #E5E5E5

    $SettingsButtonText = $ButtonText
    $SettingsButtonTextHover = $ButtonText

//Misc
    $FavoriteColor = #e01818
    $PosterFavHover = #e01818
	$PosterFavSelected = #ed6969
	$PosterWatchedHover = #ff9042
    
    $PngLogo = brightness(1.00)
    
//Player 
	$PlayerColor = #338280


// POPCORN-THEME: Kittens White theme by @GHOSTBEAR

@import 'views/app'