// POPCORN-THEME: Kittens Bubblegum theme by @GHOSTBEAR

//Fonts
    $Font = 'Open Sans'
    $MainFont = 'Open Sans Semibold'
    $MainFontBold = 'Open Sans Bold'
    $AlternateFont = sans-serif
    $ButtonFont = 'Open Sans Semibold'

//Main app
    $BgColor1 = #8FB7A5
    $BgColor2 = #8FB7A5

    $Text1 = #1B1B1B
    $Text2 = #373737
    $Text3 = #515151
    $Text4 = #6b6b6b
    $TextError = #3d3d3d
    
    $CloseButton = #FF3232
    $CloseButtonHover = darken($CloseButton,5)

    $SpinnerColor1 = rgba(255, 255, 255, 0.25)
    $SpinnerColor2 = #FE4365
    
    $ScrollBarBg = #759D8B
    $ScrollBarThumb =  #FE4365
    $ScrollBarThumbHover = darken($ScrollBarThumb,2)

//Top Bar
    $TitleBarBg = #FE4365
    $TitleBarText = #fff
    $FullScreenButton = #fff
    $FullScreenButtonHover = #E5E5E5

    $FilterBarBg = #FE4365
    $FilterBarText = #fff
    $FilterBarTextHover = #F9D2B5
    $FilterBarActive = #F9CDAD
    
    $SearchBoxBg = darken($TitleBarBg,3)

    $DropDownBg = #FE4365
    $DropDownBgHover = rgba(0, 0, 0, 0.3)
    $DropDownTextHover = #fff
    $DropDownText = #fff
    $DropDownOpacity = 0.95
    
    $FilterBarIcon = #fff
    $FilterBarIconHover = #FCB0AE
	$FilterBarIcon-PosterWidth = #FCB0AE

    $TopBarShadow = 0px 6px 8px -4px rgba(0, 0, 0, 0);
    
//Buttons
    $ButtonBg = #ff4f6f
    $ButtonBgHover = darken($ButtonBg,2)
    $ButtonBgActive = darken($ButtonBg,3)

    $ButtonBgDisabled = #199f13

    $ButtonBgOk = #27AE60
    $ButtonBgWarning = #F15153
    
    $ButtonText = #fff
    $ButtonTextHover = #fff

    $ButtonRadius = 3px

//Checkbox
    $CheckboxBg = #545454
    $CheckboxCheck = #4bfff4
    
//Posters
    $PosterRadius = 4px
    $PosterHoverBorder = #FE4365
    $PosterHoverOverlay = rgba(23, 24, 27, 0.6)
    $PosterShadow = 0px 0px 4px
    
//TV Series
    $ShowBgColor1 = $BgColor1
    $ShowBgColor2 = $BgColor1

    $EpisodeDetailsBg = $BgColor1

    $ShowText1 = $Text2
    $ShowText2 = $Text2

    $SaisonListText = $Text2
    $EpisodeListText = $Text2

    $EpisodeSelectorBg = #FC9D9A
	$EpisodeSelectorHover = darken($ShowBgColor2,5%)
    $EpisodeSelectorText = $ButtonText

	$ShowWatchedIcon_false = rgba(#fff,0.3)
	$ShowWatchedIcon_hover = rgba(#fff,0.7)
	$ShowWatchedIcon_true = #FC9D9A
    
    $QualitySelector = rgba(43, 110, 210, 0.84)

// Notifications
    $NotificationText = #fff
    $NotificationInfo = #3498DB
    $NotificationSuccess = #27AE60
    $NotificationWarning = #dbb756
    $NotificationOrange = #f07f53
    $NotificationError = #f15153
    $NotificationBorderColor = #000

    $NotificationBtn = #000
    $NotificationBtnText = #fff

    $NotifAlertBg = #000
    $NotifAlertText = #fff

//File selector
	$FileSelectorText = #fff
	$FileSelectorBg = rgba(0,0,0, 0.07)
	$FileSelectorShadow = rgba(0, 0, 0, 0.5)

//Settings
    $SettingsCategoriesText = $Text2
    $SettingsSeparator = darken($BgColor1,0.1)

    $InputBoxBg = #fc5977
    $InputBoxText = #fff
    
    $SettingsText1 = $Text2
    $SettingsText2 = $Text2

    $SettingsButtonText = $ButtonText
    $SettingsButtonTextHover = $ButtonText

//Misc
    $FavoriteColor = #FF8484
    $PosterFavHover = #FF3232
	$PosterFavSelected = #ff6f8a
	$PosterWatchedHover = #ff6f8a
    
    $PngLogo = brightness(1.00)

//Player 
	$PlayerColor = #FE4365

// POPCORN-THEME: Kittens Bubblegum theme by @GHOSTBEAR

@import 'views/app'