// POPCORN-THEME: Kittens Chocolate theme by @GHOSTBEAR @Edys

//Fonts
    $Font = 'Open Sans'
    $MainFont = 'Open Sans Semibold'
    $MainFontBold = 'Open Sans Bold'
    $AlternateFont = sans-serif
    $ButtonFont = 'Open Sans Semibold'

//Main app
    $BgColor1 = #684228
    $BgColor2 = #5D3B24

    $Text1 = #291A10
    $Text2 = #535353
    $Text3 = #6f6f6f
    $Text4 = #848484
    $TextError = #FE9148
    
    $CloseButton = #f40707
    $CloseButtonHover = darken($CloseButton,5)

    $SpinnerColor1 = rgba(255, 255, 255, 0.25)
    $SpinnerColor2 = #B07E37
    
    $ScrollBarBg = #5D3B24
    $ScrollBarThumb =  #B07E37
    $ScrollBarThumbHover = #9E7131

//Top Bar
    $TitleBarBg = #B07E37
    $TitleBarText = #fff
    $FullScreenButton = #fff
    $FullScreenButtonHover = #E5E5E5

    $FilterBarBg = #B07E37
    $FilterBarText = #fff
    $FilterBarTextHover = #FE9148
    $FilterBarActive = #FE9148
    
    $SearchBoxBg = darken($TitleBarBg,3)

    $DropDownBg = #B07E37
    $DropDownBgHover = rgba(0, 0, 0, 0.1)
    $DropDownTextHover = #fff
    $DropDownText = #fff
    $DropDownOpacity = 0.95
    
    $FilterBarIcon = #fff
    $FilterBarIconHover = #FEA76C
	$FilterBarIcon-PosterWidth = #FEA76C

    $TopBarShadow = 0px 6px 8px -4px rgba(0, 0, 0, 0);
    
//Buttons
    $ButtonBg = $TitleBarBg
    $ButtonBgHover = darken($ButtonBg,0.15)
    $ButtonBgActive = darken($ButtonBg,0.25)
    
    $ButtonBgDisabled = #199f13

    $ButtonBgOk = #27AE60
    $ButtonBgWarning = #F15153
    
    $ButtonText = #fff
    $ButtonTextHover = #fff

    $ButtonRadius = 3px

//Checkbox
    $CheckboxBg = #545454
    $CheckboxCheck = #4bfff4
    
//Posters
    $PosterRadius = 4px
    $PosterHoverBorder = #B07E37
    $PosterHoverOverlay = rgba(23, 24, 27, 0.6)
    $PosterShadow = 0px 0px 4px
    
//TV Series
    $ShowBgColor1 = $BgColor1
    $ShowBgColor2 = $BgColor1

    $EpisodeDetailsBg = $BgColor2

    $ShowText1 = $Text1 
    $ShowText2 = $Text1 

    $SaisonListText = $Text1 
    $EpisodeListText = $Text1 

    $EpisodeSelectorBg = #3E2718
	$EpisodeSelectorHover = darken($EpisodeSelectorBg,5%)
    $EpisodeSelectorText = $ButtonText

	$ShowWatchedIcon_false = rgba(#fff,0.3)
	$ShowWatchedIcon_hover = rgba(#fff,0.7)
	$ShowWatchedIcon_true = rgba(#fff,0.95)
    
    $QualitySelector = rgba(43, 110, 210, 0.84)

// Notifications
    $NotificationText = #fff
    $NotificationInfo = #3498DB
    $NotificationSuccess = #27AE60
    $NotificationWarning = #dbb756
    $NotificationOrange = #f07f53
    $NotificationError = #f15153
    $NotificationBorderColor = #000

    $NotificationBtn = #000
    $NotificationBtnText = #fff

    $NotifAlertBg = #000
    $NotifAlertText = #fff

//File selector
	$FileSelectorText = #fff
	$FileSelectorBg = rgba(0,0,0, 0.07)
	$FileSelectorShadow = rgba(0, 0, 0, 0.5)

//Settings
    $SettingsCategoriesText = $Text1
    $SettingsSeparator = darken($BgColor1,0.1)

    $InputBoxBg = $TitleBarBg
    $InputBoxText = #fff
    
    $SettingsText1 = $Text1
    $SettingsText2 = $Text1

    $SettingsButtonText = $ButtonText
    $SettingsButtonTextHover = $ButtonText

//Misc
    $FavoriteColor = #f40707
    $PosterFavHover = #f40707
	$PosterFavSelected = #a57736
	$PosterWatchedHover = #B07E37
    
    $PngLogo = brightness(1.00)

//Player 
	$PlayerColor = #B07E37

// POPCORN-THEME: Kittens White theme by @GHOSTBEAR

@import 'views/app'