// POPCORN-THEME: Kittens Purple Theme by @GHOSTBEAR

//Fonts
    $Font = 'Open Sans'
    $MainFont = 'Open Sans Semibold'
    $MainFontBold = 'Open Sans Bold'
    $AlternateFont = sans-serif    
    $ButtonFont = 'Open Sans Semibold'

//Main app
    $BgColor1 = #ffff3f 
    $BgColor2 = #ffff14

    $Text1 = #800080
    $Text2 = #373737
    $Text3 = #515151
    $Text4 = #6b6b6b
    $TextError = #3d3d3d

    $CloseButton = #e01818
    $CloseButtonHover = darken($CloseButton,5)

    $SpinnerColor1 = rgba(255, 255, 255, 0.25)
    $SpinnerColor2 = #800080

    $ScrollBarBg = #E5E538
    $ScrollBarThumb = #800080
    $ScrollBarThumbHover = #6f006f

//Top Bar
    $TitleBarBg = #800080
    $TitleBarText = #fff
    $FullScreenButton = #fff
    $FullScreenButtonHover = #E5E5E5 

    $FilterBarBg = #800080
    $FilterBarText = #fff
    $FilterBarTextHover = #d889d8  
    $FilterBarActive = #d889d8 

    $SearchBoxBg = darken($TitleBarBg,3) 

    $DropDownBg = #800080
    $DropDownBgHover = rgba(0, 0, 0, 0.2)
    $DropDownTextHover = #fff
    $DropDownText = #fff
    $DropDownOpacity = 0.95

    $FilterBarIcon = #fff
    $FilterBarIconHover = #d889d8

    $TopBarShadow = 0px 6px 8px -4px rgba(0, 0, 0, 0);

//$ButtonBg    
    $ButtonBg = #800080
    $ButtonBgHover = #8e008e
    $ButtonBgActive = #a000a0

    $ButtonBgDisabled = #199f13
    
    $ButtonBgOk = #27AE60
    $ButtonBgWarning = #F15153

    $ButtonText = #fff
    $ButtonTextHover = #fff

    $ButtonRadius = 3px

//Checkbox
    $CheckboxBg = #545454
    $CheckboxCheck = #4bfff4

//Posters
    $PosterRadius = 0px
    $PosterHoverBorder = #670067
    $PosterHoverOverlay = rgba(23, 24, 27, 0.6)
    $PosterShadow = 0px 0px 4px

//TV Series
    $ShowBgColor1 = $BgColor1
    $ShowBgColor2 = $BgColor1

    $EpisodeDetailsBg = $BgColor1

    $ShowText1 = #800080
    $ShowText2 = #800080

    $SaisonListText = #800080
    $EpisodeListText = #800080

    $EpisodeSelectorBg = #800080
	$EpisodeSelectorHover = #f2f22f
    $EpisodeSelectorText = #f7f7f7

	$ShowWatchedIcon_false = rgba(#000,0.5)
	$ShowWatchedIcon_hover = rgba(#000,0.8)
	$ShowWatchedIcon_true = #800080
    
    $QualitySelector = rgba(43, 110, 210, 0.84)

// Notifications
    $NotificationText = #fff
    $NotificationInfo = #3498DB
    $NotificationSuccess = #27AE60
    $NotificationWarning = #dbb756
    $NotificationOrange = #f07f53
    $NotificationError = #f15153
    $NotificationBorderColor = #000

    $NotificationBtn = #000
    $NotificationBtnText = #fff

    $NotifAlertBg = #000
    $NotifAlertText = #fff

//File selector
	$FileSelectorText = #fff
	$FileSelectorBg = rgba(255, 255, 255, 0.07)
	$FileSelectorShadow = rgba(0, 0, 0, 0.5)

//Settings
    $SettingsCategoriesText = #800080
    $SettingsSeparator = #f0f000

    $InputBoxBg = #670067
    $InputBoxText = #fff

    $SettingsText1 = #0b0b0b
    $SettingsText2 = #0b0b0b
    
    $SettingsButtonText = #fff
    $SettingsButtonTextHover = #fff
    
//Misc
    $PngLogo = brightness(1.00)

    $FavoriteColor = #e01818
    $PosterFavHover = #e01818
	$PosterFavSelected = #f27676
	$PosterWatchedHover = #b712b7

//Player 
	$PlayerColor = #800080

// POPCORN-THEME: Kittens Purple Theme - END

@import 'views/app' 