// POPCORN-THEME: SENTIENCE

//Fonts
    $Font = 'Source Sans Pro'
    $MainFont = 'Source Sans Pro SemiBold'
    $MainFontBold = 'Source Sans Pro Bold'
    $AlternateFont = sans-serif    
    $ButtonFont = 'Source Sans Pro Semibold'

//Main app
    $BgColor1 = #191D24
    $BgColor2 = #FA5858

    $Text1 = #c5c5c5
    $Text2 = #c3c5c7
    $Text3 = #a3a5a7
    $Text4 = #ececec
    $TextError = #c5c5c5

    $CloseButton = #c5c5c5
    $CloseButtonHover = #ececec

    $SpinnerColor1 = #e5e1dd
    $SpinnerColor2 = #d4d4d4

    $ScrollBarBg = #686868
    $ScrollBarThumb = #c3c3c3
    $ScrollBarThumbHover = #dfdfdf

//Top Bar
    $TitleBarBg = #23282E
    $TitleBarText = #fff
    $FullScreenButton = #4A4A4A
    $FullScreenButtonHover = #ececec

    $FilterBarBg = #23282E
    $FilterBarText = #c5c5c5
    $FilterBarTextHover = #ececec
    $FilterBarActive = #FA5858

    $SearchBoxBg = #565f6b

    $DropDownBg = #282c30
    $DropDownBgHover = #39424d
    $DropDownTextHover = #ececec
    $DropDownText = #c5c5c5
    $DropDownOpacity = 1

    $FilterBarIcon = #c5c5c5
    $FilterBarIconHover = #ececec

    $TopBarShadow = 1px

//$ButtonBg    
    $ButtonBg = #2972ab
    $ButtonBgHover = #1e5b8a
    $ButtonBgActive = #1D5682

    $ButtonBgDisabled = #668f9c

    $ButtonBgOk = #27AE60
    $ButtonBgWarning = #F15153

    $ButtonText = #ececec
    $ButtonTextHover = #ececec

    $ButtonRadius = 3px

//Checkbox
    $CheckboxBg = #545454
    $CheckboxCheck = #4bfff4

//Posters
    $PosterRadius = 2px
    $PosterHoverBorder = #b5b4b4
    $PosterHoverOverlay = rgba(23, 24, 27, 0.6)
    $PosterShadow = 0px 0px 2px

//TV Series
    $ShowBgColor1 = #191D24
    $ShowBgColor2 = #1C2129

    $EpisodeDetailsBg = #39424d

    $ShowText1 = #ececec
    $ShowText2 = #ececec

    $SaisonListText = #ececec
    $EpisodeListText = #ececec

    $EpisodeSelectorBg = #FA5858
	$EpisodeSelectorHover = #39424d
    $EpisodeSelectorText = #fff

	$ShowWatchedIcon_false = #595959
	$ShowWatchedIcon_hover = #c5c5c5
	$ShowWatchedIcon_true = #ececec
    
    $QualitySelector = rgba(43, 110, 210, 0.84)

// Notifications
    $NotificationText = #fff
    $NotificationInfo = #3498DB
    $NotificationSuccess = #27AE60
    $NotificationWarning = #dbb756
    $NotificationOrange = #f07f53
    $NotificationError = #f15153
    $NotificationBorderColor = #000

    $NotificationBtn = #000
    $NotificationBtnText = #fff

    $NotifAlertBg = #000
    $NotifAlertText = #fff

//File selector
	$FileSelectorText = #eee
	$FileSelectorBg = rgba(255, 255, 255, 0.05)
	$FileSelectorShadow = rgba(0, 0, 0, 0.67)

//Settings
    $SettingsCategoriesText = #c5c5c5
    $SettingsSeparator = #ececec

    $InputBoxBg = #565f6b
    $InputBoxText = #c5c5c5

    $SettingsText1 = #c5c5c5
    $SettingsText2 = #c5c5c5
    
    $SettingsButtonText = #c5c5c5
    $SettingsButtonTextHover = #ececec

//Misc
    $PngLogo = brightness(1.00)

    $FavoriteColor = #23282E
	$PosterFavHover = #FA5858
	$PosterFavSelected = #FA4B4B
	$PosterWatchedHover = #c5c5c5
	
//Player 
	$PlayerColor = #397AA8

// POPCORN-THEME: SENTIENCE - END

@import 'views/app'
@import 'Sentience_theme_assets/fonts'