@font-face
    font-family: 'Source Sans Pro'
    src: url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff)
    font-weight: normal
    font-style: normal
    
@font-face
    font-family: 'Source Sans Pro SemiBold'
    src: url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff)
    font-weight: normal
    font-style: normal
    
@font-face
    font-family: 'Source Sans Pro Bold'
    src: url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff)
    font-weight: normal
    font-style: normal